Датасет https://www.kaggle.com/datasets/itsmesunil/bank-loan-modelling <br>
Департамент хочет построить модель, которая поможет им идентифицировать потенциальных клиентов, у которых более высокая вероятность приобретения кредита. Это увеличит коэффициент успеха и в то же время снизит стоимость кампании.<br>
**Таргетная переменная: Personal Loan**

Датасет https://www.kaggle.com/datasets/patelprashant/employee-attrition <br>
Нужно предсказать, покинет ли сотрудник свою компанию, и определить, какие факторы приводят к выбытию сотрудников. [Дополнительная информация о датасете](https://www.kaggle.com/code/rxsraghavagrawal/eda-xgboost-randomforest-performance-tuning/notebook) <br>
**Таргетная переменная: Attrition**

In [16]:
# !pip install openpyxl

In [17]:
import pandas as pd
import os

In [24]:
# os.path.abspath('./')
# os.listdir('/home/volodya/my_rep/course/data')

In [28]:
data_1 = pd.read_excel('/home/volodya/my_rep/course/data/bank_personal_loan_modelling.xlsx', sheet_name='Data')
data_1

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [30]:
data_2 = pd.read_csv('/home/volodya/my_rep/course/data/employee_attrition.csv')
data_2

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

# Задание

Деревья
1. Разделите выборку на трейн и тест.
2. Постройте график ROC_AUC на трейне и тесте в зависимости от глубины дерева. Выберите оптимальную глубину. (Возьмите поменьше).
3. Визуализируйте полученное дерево с plot_tree
4. Составьте топ фичей по важности (в зависимости от положения в дереве).
5. Посчитайте энтропию до построения дерева решений и энтропию после построения дерева.

Метрики<br>
1. Постройте ROC-кривую для классификатора. Посчитайте ROC_AUC.
2. Посчитайте порог, при котором TPR (Sensitivity/Recall) = TNR (Specifity).
3. Постройте Precision-Recall кривую для классификатора
4. Посчитайте порог, при котором TPR (Sensitivity/Recall) = Precision
5. Постройте на одном графике TPR, TNR, Precision и Accuracy в зависимости от порога.